/* (min-width: 768px) */

/* NAV */

.nav-desktop {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
}

.nav-desktop li {
    display: inline-block;
    font-size: 14px;
    margin: 0 6px;
    padding: 0 5px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-desctop a {
    transition: color .3;
}

.nav-desktop a:hover {
    color: rgb(170, 134, 96);
}

.nav-mobile {
    display: none;
}

/* HEADER */

.hero-img {
    background-image: url('/img/dancer-1489686_1280.jpg');
}

.hero-text {
    font-size: 34px;
}

/* MAIN */

.main-benefits {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translateX(-85%);
}

.main-benefits li {
    display: inline-block;
    margin: 40px 5px;
}

.benefits .benefits-text {
    font-size: 13px;
    /* padding-top: 20px; */
}

.benefits .fas, .far {
    font-size: 24px;
}

.course-first {
    background-image: url('../img/argentine-tango-2079964_1280.jpg');
}

.course-second {
    background-image: url('../img/city-5213067_1280.jpg');

}

.course.third {
    background-image: url('../img/people-2560382_1280.jpg');

}

.course.tourth {
    background-image: url('../img/ballet-1971600_1280.jpg');
}

.section-courses {
    margin-top: 250px;
    width: 100%;
}

.course-text {
    font-size: 27px;
}

.contact {
    font-size: 20px;
}

/* FOOTER */

footer {
    font-size: 16px;
}
   

